nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#photo{
    background-image: url("./kw-background.png");
    background-size: auto ;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    margin-bottom: 50px;
}
#shop{
    font-size: 50px;
    font-weight: 900;
    color: white;
}
#new{
    font-size: 15px;
    font-weight: 900;
    color: white;
}
.button{
    background-color: rgb(55, 120, 206);
}
.book{
    font-size: 12px;
    font-weight: bold;

}
.author{
    font-size: 10px;
    color: rgba(96, 116, 136, 0.993);

}
#gallary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price{
    display: flex;
    flex-direction: row;
    
    
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}
.button{
    height: auto;
    width: auto;
}
.cart{
    height: 15px;
    width: 15px;
}
.discription{
    font-size: 12px;
    color: rgba(96, 116, 136, 0.993);
}
.game{
    font-size: 14px;
    font-weight: bold;
}
#krishti{
    border: 10px solid black;
    border-radius: 100%;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    
}
.margin{
    margin-top: 50px;
}
.heading{
    font-size: 15px;
    font-weight: bold;
}
*{
    box-sizing: border-box;
}
@media(max-width:1115px){
    #gallary{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    }

